
{{#each surveys as |survey|}}
  <div data-id="{{survey._id}}" class="card m-1" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{survey.question}}</h5>
      <p class="card-text">Asked at: {{survey.location}}</p>
    </div>
    <div class="card-body survey-stats pb-0 hidden">
      <div class="chart-container" style="height:150px; width:246px">
        <canvas class="the-chart"></canvas>
      </div>
    </div>
    <ul class="list-group list-group-flush">
      {{#each survey.answers as |answer|}}
        {{#if answer}}
          <li class="list-group-item">
            <button class="btn btn-block btn-outline-dark answer-two" value="{{answer}}" type="submit">{{answer}}</button>
          </li>
        {{/if}}
      {{/each}}
    </ul>
    <div class="card-body align-self-center">
      <p class="card-text">submitted by <span class="text-secondary">{{survey.author}}</span></p>
    </div>
  </div>
{{/each}}
