
{{#each surveys as |survey|}}
  <div class="card m-1" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{survey.question}}</h5>
      <p class="card-text">Asked at: {{survey.location}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <button id="answer-one" data-id="{{survey._id}}" class="btn btn-block btn-outline-dark" value="yes" type="submit">yes</button>
      </li>
      <li class="list-group-item">
        <button id="answer-two" data-id="{{survey._id}}" class="btn btn-block btn-outline-dark" value="no" type="submit">no</button>
      </li>
    </ul>
    <div class="card-body align-self-center">
      <p class="card-text">submitted by <span class="text-secondary">{{survey.author}}</span></p>
    </div>
  </div>
{{/each}}
