

<div class="row">
  <div class="col jumbotron">
    <h3 style="font-weight: bold">SURVEY QUESTION:</h3>
    <h4 data-id="{{survey._id}}" style="margin-left: 20px">{{survey.question}}</h4>
  </div>


  <div class="col answer-div jumbotron" style="margin-left: 1%">
    <h2 style="font-weight: normal"> Answer true or false for this question </h2>
    <div class="row true-and-false-buttons-div">
      <div class="col button-true-div">
        <button data-id="{{survey._id}}" id="true-button" class="btn btn-success" type="submit" value="true"> TRUE
        </button>
      </div>
      <div class="col">
        <button data-id="{{survey._id}}" id="false-button" class="btn btn-danger" type="submit" value="false"> FALSE
        </button>
      </div>
    </div>
    <div class="survey-responses">
      {{#each survey.responses as |response|}}
      <div class="">
        {{this.0.answer}}
      </div>
      {{/each}}
    </div>
  </div>
</div>
<br />
